<!DOCTYPE html>
<html>
<head>
  <title>PdfApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="fixed-nav sticky-footer" id="page-top">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <a class="navbar-brand" href="#">CDISC Reports</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
          <i class="fa fa-fw fa-wrench"></i>
          <span class="nav-link-text">Help</span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav sidenav-toggler">
      <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler">
          <i class="fa fa-fw fa-angle-left"></i>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <% if user_signed_in? %>
            <% if current_user.present? %>
                <%= link_to "Welcome Owner! ","#", class: "btn btn-success" %>
            <% end %>
        <% end %>
      </li>
      <li class="nav-item">
        <% if user_signed_in? %>
            <%= link_to '<i class="fa fa-fw fa-sign-out"></i>Logout'.html_safe, destroy_user_session_path, method: :get, class: "nav-link"%>
        <% else %>
            <%= link_to '<i class="fa fa-fw fa-sign-in"></i>Sign in'.html_safe, new_user_session_path, class: "nav-link" %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
<div class="content-wrapper" style='margin-top: 90px;margin-bottom: 50px'>
  <div class="container-fluid">
    <form action="/generate" target="_blank" method="POST">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">My Dashboard</li>
        <li class="breadcrumb-item">
          <% if params[:controller] != "home" %>
              <%= submit_tag 'PDF Report', class: "btn btn-primary" %>
          <% end %>
        </li>
      </ol>
      <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: "alert alert-info" %>
      <% end %>
      <%= yield %>
      <% #cls = [{:status=> ["created", "no_change", "updated"], :prefered_term => "test term", :notation => "This is test notation" }]
         # results = [{:results =>"test", :date => "22/08/2017"}]

         # @html = CdiscChangesReport.new.create(results, cls, current_user) if current_user.present?
         # render pdf: "cdisc_changes.pdf", page_size: 5, orientation: 'Landscape'
      %>
      <%#= @html %>
      <%#= CdiscChangesReport.new.create(results, cls, current_user) %>
    </form>
  </div>
</div>
<footer class="navbar-fixed-bottom">
  <div class="container">
    <div class="text-center">
      <small>Copyright © CDISC Reports (<%= Time.current.year %>)</small>
    </div>
  </div>
</footer>
</body>
</html>
